.banner-container {
    background-color: #f2f2f2;
    padding: 20px;
  }

  body{
    background-color: #f2f2f2;
  }


  .content-container {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
   
  }
  
  .contenido {
    background-color: #e4e4e4;
    padding: 10px;
    border: 5px solid black;
    border-radius: 5px;
    margin: 10px;
    text-align: justify;
}

/* homepage.css */

/* Estilos para el contenedor principal */
.main-container {
    min-height: 100vh; /* Establece la altura mínima del contenedor principal como el 100% del viewport */
    position: relative; /* Establece la posición relativa para que el Footer pueda ser posicionado de forma absoluta con respecto a este contenedor */
  }
  
  /* Estilos para el Footer */
  .footer {
    position: absolute; /* Establece la posición absoluta */
    bottom: 0; /* Fija el Footer en la parte inferior */
    width: 100%; /* Ocupa todo el ancho */
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 20px; /* Espaciado interno */
  }
  